body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

ul#task_list {
  list-style-type: none;
}

ul#task_list li {
  display: flex;
  justify-content: space-between;
}

ul#task_list li:hover{
  background-color: lightgray;
}

ul#task_list li label{
  flex: 1;
}

ul#task_list li span.remove_task {
  padding: 0.1rem 0.5rem;
}

ul#task_list li span.remove_task:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: lightcoral;
  color: white;
}

ul#task_list label:has(>input[type="checkbox"]:checked){
  text-decoration: line-through;
  color: gray;
}